*{
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow-y: hidden;
}
.navigation{
    background-color: black;
    padding: 1.5%;
    border-radius: 100px;
    margin: 0 25%;
    position: fixed;
    top: 86%;
    display: flex;
    color:white;
    i{
        font-size: 25px;
        padding:0 15px ;
    }
    >ul li{
        display:inline;
    }
    >ul li:not(:last-child):hover{
        padding: 1em 0;
        background-color: #4e4d4d;
    }
}
.home-page{
    h1{
        font-size:160px;
        color:#aaa9a9;
        font-family:kugile;   
    }    
}
.logo{
    position: absolute;
    top:5%;
    left:42%;
    img{
        width:65%;
        height:65%;
    }
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 10px 15px;
}
.opening-hr,.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-nav,
.opening-hours{
    display:none;
    position:absolute;
    width:250px;
    border-radius: 10px;
    padding: 10px;
}
.dropdown-nav{
    background-color: black;
    top:-1250%;
    ul{
        list-style-type: none;
    }
    li{
        border-bottom: grey 1px solid;
        margin-bottom: 4%;
    }
    a:hover{
        color: grey;
    }
}
.opening-hours{
    background-color: white;
    color:black;
    top:-950%;
    line-height: 1.5;
}
.dropdown:hover .dropdown-nav{
    display:block;
}
.opening-hr:hover .opening-hours{
    display:block;
}
.fa-brands{
    font-size: 35px;
    position:absolute;
    color:grey;
}
.fa-square-instagram{
    top:7%;
    right:5%;
}
.fa-square-facebook{
    top:7%;
    right:3%;
}
.fa-square-whatsapp{
    bottom:7%;
    right:3%;
}
.reservation{
    background-color: rgba(128, 128, 128);
    border-radius: 100px;
    padding: 12px;
}
.reservation:hover{
    background-color: white;
    color:black;
}
.contact{
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('Images/ankolegrill_Kitisuru\ Night2.webp');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display:flex;
    line-height: 1.2;
    gap: 20px;
    a{
        padding: 0;
    }
    h1{
        font-size: 38px;
    }
}
.kitisuru-contact,.kilimani-contact{
    border:white solid 2px;
    padding: 2%;
    margin-top: 18%;
    width:25%;
    a,p{
        font-size: 23px;
    }
}
.kilimani-contact{
    height: 42%;
}
.kitisuru-contact{
    height:32%;
}
.paragraph{
    display: inline-flex;
}

@media only screen and (max-width:550px){
    body{
        overflow-y:auto;
    }
    .list{
        li:nth-last-child(2),li:nth-last-child(3),li:nth-last-child(4),li:nth-last-child(5),li:nth-last-child(6),li:nth-last-child(7){
            display:none;
        }       
    }
    .logo{
        left:30%;
    }
    .navigation{
        width:68%;
        margin:0 17%;
        padding: 5%;
        i{
            padding: 0 5px;
        }

    }
    .contact{
        flex-direction: column;
        height:fit-content;
    }
    .fa-brands,.logo{
        left:25%;
        position: fixed;
    }
    .kitisuru-contact,.kilimani-contact{
        height:auto;
        width:90%;
        margin:auto;
        a,p{
            font-size:18px;
        }
    }
    .kitisuru-contact{
        margin-top: 80%;
    }
    .kilimani-contact{
        margin-top: 2%;
        margin-bottom: 30%;
    }
   .fa-square-facebook{
    top:8%;
    left:88%;
   }
   .fa-square-instagram{
    top:3%;
    left:88%;
   }
   .fa-square-whatsapp{
    bottom:8%; 
    left:88%;
  }
 }

 @media only screen and (min-width:550px) and (max-width:950px){
    .navigation{
        width:90%;
        margin:0 7%;
        padding: 3.5% 0%;
        top:90%;
        a{
            padding:10px 5px;
        }
    }
    .logo{
        left:35%;
     }
     .contact{
        padding: 2%;
        line-height: 1.5;
     }
     .kitisuru-contact,.kilimani-contact{
        margin-top:60%;
        width:90%;
     } 
     .kilimani-contact{
        padding-bottom: 10%;
    }
    .kitisuru-contact{
        padding-bottom: 12%;
    } 
     .fa-square-facebook{
        top:7%;
       }
       .fa-square-instagram{
        top:4%;
        right:3%;
       }
       .fa-square-whatsapp{
        bottom:10%;   }
}
@media only screen and (min-width:950) and (max-width:1300px){

}