*{
    margin:0;
    box-sizing: border-box;
}
@font-face {
    font-family: kugile;
    src: url(Fonts/Kugile_Demo.ttf);
}
.live{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('Images/live-bg.jpeg');
    background-repeat:repeat-y;
    background-size:cover;
    display:flex;
    justify-content: space-evenly;
    img{
        width:360px;
        height:360px;
    }
    img:hover{
        transform: scale(1.1);
    }
    p{
        color:#f76c02;
    }
   
}
.tukatike{
    position: relative;
    justify-items: center;
    align-content: center;
    width:100%;
    >h1{
        color: #f76c02;
        font-size: 70px;
    }
    >h2{
        color:white;
        font-size: 60px;
    }
}
.live-main{
    display: flex;
    align-items: center;
    margin:2% 0 6% 0;
    gap:10px;
}
.live-artist{
    width:100%;
    margin-left: 5%;
    h2{
        color:white;
    }
    height: 100vh;
    overflow-y: auto;
}

.navigation{
    background-color: black;
    padding: 2.5% 1.2%;
    border-radius: 100px;
    position: absolute;
    top: 86%;
    display: flex;
    color:white;
    margin-left: 8%;
    i{
        font-size: 25px;
        padding:0 15px ;
    }
    >ul li{
        display:inline;
    }
    >ul li:not(:last-child):hover{
        padding: 1em 0;
        background-color: #4e4d4d;
    }
}

.logo{
    position: absolute;
    top:15%;
    left:35%;
    img{
        width:65%;
        height:65%;
    }
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 10px;
}
.opening-hr,.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-nav,
.opening-hours{
    display:none;
    position:absolute;
    width:250px;
    border-radius: 10px;
    padding: 10px;
}
.dropdown-nav{
    background-color: black;
    top:-1250%;
    ul{
        list-style-type: none;
    }
    li{
        border-bottom: grey 1px solid;
        margin-bottom: 4%;
    }
    a:hover{
        color: grey;
    }
}
.opening-hours{
    background-color: white;
    color:black;
    top:-950%;
    line-height: 1.5;
}
.dropdown:hover .dropdown-nav{
    display:block;
}
.opening-hr:hover .opening-hours{
    display:block;
}
.fa-brands{
    font-size: 35px;
    position:absolute;
    color:grey;
}

.fa-square-whatsapp{
    bottom:7%;
    right:5%;
}
.reservation{
    background-color: rgba(128, 128, 128);
    border-radius: 100px;
}
.reservation:hover{
    background-color: white;
    color:black;
}
@media only screen and (max-width:550px){

    .list{
        li:nth-last-child(2),li:nth-last-child(3),li:nth-last-child(4),li:nth-last-child(5),li:nth-last-child(6),li:nth-last-child(7){
            display:none;
        }       
    }
    .logo{
        left:25%;
        top:5%;
    }
    .navigation{
        position:fixed;
        width:68%;
        margin:0 17%;
        padding: 5%;
        i{
            padding: 0 5px;
        }
    }
   
    .live-main,.live{
        flex-direction: column;
    }
    .tukatike{
        padding-top: 50%;
        height:50vh;
        position: static;
        >h1{
            font-size: 40px;
        }
        >h2{
            font-size: 30px;
        }
        
    }
    .live-main{
        margin:auto;
        padding-bottom: 10%;
    }
    .live-main h2,p{
        padding-left: 7%;
    }
    .live{
        background-size: contain;
    }
    .live-artist{
        margin:0;
        height:auto;
        overflow-y: auto;
        padding-bottom: 30%;
        img{
            width:340px;
            height:340px;
        }
    }
   .fa-square-whatsapp{
    position: fixed;
    bottom:8%;   }
 }

 @media only screen and (min-width:550px) and (max-width:950px){
    .navigation{
        position:fixed;
        width:90%;
        margin:-5% 5%;
        padding: 3.5% 0%;
        top:90%;
        a{
            padding:10px 5px;
        }
    }
    .logo{
        left:35%;
     }
    .live{
        flex-direction: column;
        overflow-x: hidden;
    }
   .live-main{
    gap:5px;
    h2{
        padding-right: 5%;
    }
   }
   .tukatike{
    height:50vh;
    position:static;
    padding-top: 50%;
   }
   .live-artist{
        height:auto;
        overflow-y: auto;
        padding-bottom: 30%;
   }
    .fa-square-whatsapp{
        position: fixed;
    bottom:14%;   }

}

@media only screen and (min-width:950px) and (max-width:1300px){
    .navigation{
        width:110%;
        margin:0;
        a{
            padding:10px 5px;
        }
    }
    .logo{
        left:40%;
    }
    .fa-square-instagram{
        right:6%;
       }
    .live-artist{
        img{
            width:200px;
            height:200px;
        }
    }
}