*{
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow-y: hidden;
}
.navigation{
    background-color: black;
    padding: 1.5%;
    border-radius: 100px;
    margin: 0 25%;
    position: fixed;
    top: 86%;
    display: flex;
    color:white;
    i{
        font-size: 25px;
        padding:0 15px ;
    }
    >ul li{
        display:inline;
    }
}
.home-page{
    h1{
        font-size:160px;
        color:#aaa9a9;
        font-family:kugile;   
    }    
}
.logo{
    position: absolute;
    top:5%;
    left:43%;
    img{
        width:65%;
        height:65%;
    }
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 10px 15px;
}
.opening-hr,.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-nav,
.opening-hours{
    display:none;
    position:absolute;
    width:250px;
    border-radius: 10px;
    padding: 10px;
}
.dropdown-nav{
    background-color: black;
    top:-1250%;
    ul{
        list-style-type: none;
    }
    li{
        border-bottom: grey 1px solid;
        margin-bottom: 4%;
    }
    a:hover{
        color: grey;
    }
}
.opening-hours{
    background-color: white;
    color:black;
    top:-950%;
    line-height: 1.5;
}
.dropdown:hover .dropdown-nav{
    display:block;
}
.opening-hr:hover .opening-hours{
    display:block;
}
.fa-brands{
    font-size: 35px;
    position:absolute;
    color:grey;
}
.fa-square-instagram{
    top:7%;
    right:5%;
}
.fa-square-facebook{
    top:7%;
    right:3%;
}
.fa-square-whatsapp{
    bottom:7%;
    right:3%;
}
.reservation{
    background-color: rgba(128, 128, 128);
    border-radius: 100px;
    padding: 12px;
}
.reservation:hover{
    background-color: white;
    color:black;
}
.menu{
    display:flex;
    justify-content:space-evenly;
    height: 100vh;
    h1{
        font-size: 60px;
    }
    p{
        justify-self: center;
    }
}
.kitisuru,
.kilimani{
    width:100%;
    justify-items: center;
    align-content: center;
}
.kitisuru{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('Images/home-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}
.kilimani{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('Images/Kilimani-Nights.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;

}
.menu-text{
    font-family: kugile;
    font-size: 30px;
    font-weight: bolder;
    color:#b34d00;
}

@media only screen and (max-width:400px){
    .home-page{
        h1{
            font-size: 60px;
        }
    }
    .list{
        li:nth-last-child(2),li:nth-last-child(3),li:nth-last-child(4),li:nth-last-child(5),li:nth-last-child(6),li:nth-last-child(7){
            display:none;
        }       
    }
    .logo{
        left:30%;
    }
    .navigation{
        width:68%;
        margin:0 17%;
        padding: 5%;
        i{
            padding: 0 5px;
        }

    }
    .menu{
        flex-direction:column;
        h1{
            font-size: 40px;
        }
    }
    .kitisuru,.kilimani{
        height:50vh;
    }

    .kitisuru{
        align-content:end;
    }
   .fa-square-facebook{
    top:7%;
   }
   .fa-square-instagram{
    top:3%;
    right:3%;
   }
   .fa-square-whatsapp{
    bottom:8%;   }
 }
