*{
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow-y: hidden;
    background-color:black;
}
@font-face {
    font-family: kugile;
    src: url(Fonts/Kugile_Demo.ttf);
}
@font-face {
    font-family:jmh ;
    src: url(Fonts/JMH\ Typewriter.ttf);
}
.navigation{
    background-color: black;
    padding: 1.5%;
    border-radius: 100px;
    margin: 0 25%;
    position: fixed;
    top: 86%;
    display: flex;
    color:white;
    i{
        font-size: 25px;
        padding:0 15px ;
    }
    >ul li{
        display:inline;
    }
    >ul li:not(:last-child):hover{
        padding: 1em 0;
        background-color: #4e4d4d;
    }
}
.home-page{
    h1{
        font-size:160px;
        color:#aaa9a9;
        font-family:kugile;   
    }    
}
.logo{
    position: absolute;
    top:5%;
    left:15%;
    img{
        width:65%;
        height:65%;
    }
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 10px 15px;
}
.opening-hr,.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-nav,
.opening-hours{
    display:none;
    position:absolute;
    width:250px;
    border-radius: 10px;
    padding: 10px;
}
.dropdown-nav{
    background-color: black;
    top:-1250%;
    ul{
        list-style-type: none;
    }
    li{
        border-bottom: grey 1px solid;
        margin-bottom: 4%;
    }
    a:hover{
        color: grey;
    }
}
.opening-hours{
    background-color: white;
    color:black;
    top:-950%;
    line-height: 1.5;
}
.dropdown:hover .dropdown-nav{
    display:block;
}
.opening-hr:hover .opening-hours{
    display:block;
}
.fa-brands{
    font-size: 35px;
    position:absolute;
    color:grey;
}

.fa-square-whatsapp{
    bottom:7%;
    right:5%;
}
.reservation{
    background-color: rgba(128, 128, 128);
    border-radius: 100px;
    padding: 12px;
}
.reservation:hover{
    background-color: white;
    color:black;
}
.reservations{
    display:flex;
    justify-content:space-evenly;
    justify-items: center;
    background-color: black;
}
.reserve{
    position:relative;
    align-content: center;
    justify-items: center;
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/Tropical-Plants-And-Flowers-paint-by-numbers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        color:white;
        font-size: 35px;
    }
    h1{
        color:#f18029;
        font-size: 60px;
    }
}
.form{
    padding:3% 5% 5% 5%;   
    width: 100%;
    box-shadow:0 3px 1px rgba(109, 96, 96, 0.502);
    a{
        padding: 0;
        color: black;
    }
}
input,select{
    background: none;
   width:100%;
   padding: 18px 12px;
   margin:1% 0;
   background-color: rgb(34, 32, 32);
   color:white;
   border: solid 1px #f8f8f861;
}
input:focus{
    outline:1px solid  green ;
    border:none;
}
select:focus{
    outline:1px solid rgb(52, 173, 221) ;
    border:none;
}
label,#time,#date{
    color:white;
    color-scheme: dark;
}
#location{
    color:grey;
}
#submit{
    border-radius: 10px;
    background-color: bisque;
    border:none;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 0;
    width: 100%;
    padding:3%;
}

@media only screen and (max-width:550px){
    body{
        overflow: auto;
    }
    .list{
        li:nth-last-child(2),li:nth-last-child(3),li:nth-last-child(4),li:nth-last-child(5),li:nth-last-child(6),li:nth-last-child(7){
            display:none;
        }       
    }
    .logo{
        left:18%;
    }
    .navigation{
        width:68%;
        margin:0 17%;
        padding: 5%;
        i{
            padding: 0 5px;
        }

    }
    .reservations{
        flex-direction: column;
    }
    .reserve{
        height:40vh;
        h1{
            font-size: 40px;
        }
        h3{
            font-size: 25px;
        }
    }
    .form{
        height:auto;
        width:90%;
        margin: 8% auto 30% ;
    }
   .fa-square-whatsapp{
    position:fixed;
    bottom:8%;   }
 }

 @media only screen and (min-width:550px) and (max-width:950px){
    body{
        overflow: auto;
    }
    .navigation{
        width:90%;
        margin:0 4%;
        padding: 3.5% 0%;
        top:90%;
    }
    a{
        padding: 10px 5px;
    }
    .logo{
        left:35%;
        top:3%;
     }
     .reservations{
        flex-direction: column;
    }
    .reserve{
        height:45vh;
        align-content: end;
        padding-bottom: 5%;
        h3{
            font-size: 70px;
        }
    } 
    .form{
        width:90%;
        margin: 5% 5% 20%;
        padding-bottom: 10%;
    }
    .fa-square-whatsapp{
    bottom:10%; 
    position: fixed;
  }

}