*{
    margin:0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    font-family: kugile;
}
@font-face {
    font-family: kugile;
    src: url(Fonts/Kugile_Demo.ttf);
}
@font-face {
    font-family:jmh ;
    src: url(Fonts/JMH\ Typewriter.ttf);
}


/* Home */
.navigation{
    background-color: black;
    padding: 1.5%;
    width: 50%;
    border-radius: 100px;
    margin: 0 25%;
    position: fixed;
    top: 90%;
    display: flex;
    color:white;
    i{
        font-size: 25px;
        padding:0 15px ;
    }
    >ul li{
        display:inline;
        }
}
.home-page{
    h1{
        font-size:160px;
        color:rgb(170, 169, 169);
        font-family:kugile;   
    }    
}
.logo{
    position: absolute;
    top:2%;
    left:42%;
    img{
        width:65%;
        height:65%;
    }
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 10px 15px;
}
.opening-hr,.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-nav,
.opening-hours{
    display:none;
    position:absolute;
    width:250px;
    border-radius: 10px;
    padding: 10px;
}
.dropdown-nav{
    background-color: black;
    top:-1250%;
    ul{
        list-style-type: none;
    }
    li{
        border-bottom: grey 1px solid;
        margin-bottom: 4%;
    }
    a:hover{
        color: grey;
    }
}
.opening-hours{
    background-color: white;
    color:black;
    top:-950%;
    line-height: 1.5;
}
.dropdown:hover .dropdown-nav{
    display:block;
}
.opening-hr:hover .opening-hours{
    display:block;
}
.title{
    height:100%;
    width:100%;
    position:absolute;
    background-size: cover;
    background-position: center;
    opacity:0;
    justify-items: center;
    align-content:center;
    animation: fade 20s infinite;
    transition: opacity 1s ease-in-out;
}
.title:nth-child(1){
    background-image:url('Images/home-image1.jpg');
    animation-delay: 0s;
}
.title:nth-child(2){
    background-image:url('Images/home-image2.jpg');
    animation-delay: 4s;
}
.title:nth-child(3){
    background-image:url('Images/home-image3.jpg');
    animation-delay: 8s;
}
.title:nth-child(4){
    background-image:url('Images/home-image4.jpg');
    animation-delay: 12s;
}
.title:nth-child(5){
    background-image:url('Images/home-image5.jpg');
    animation-delay: 16s;
}
.reservation{
    background-color: rgba(128, 128, 128);
    border-radius: 100px;
}
.reservation:hover{
    background-color: white;
    color:black;
}
.fa-brands{
    font-size: 40px;
    position:absolute;
    color:grey;
}
.fa-square-instagram{
    top:7%;
    right:8%;
}
.fa-square-facebook{
    top:7%;
    right:5%;
}
.fa-square-whatsapp{
    bottom:5%;
    right:5%;
}
@keyframes fade{
    0%{opacity:0;}
    5%{opacity:1;}
    20%{opacity:1;}
    35%{opacity:0;}
    100%{opacity:0;}
}

/* Menu */

.menu{
    display:flex;
    height: 100vh;
    h1{
        font-size: 60px;
    }
    p{
        justify-self: center;
    }
}
.kitisuru,
.kilimani{
    width:100%;
    justify-items: center;
    align-content: center;
}
.kitisuru{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('Images/home-image1.jpg');  
}
.kilimani{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('Images/Kilimani-Nights.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;

}
.menu-text{
    font-family: kugile;
    font-size: 30px;
    font-weight: bolder;
    color:#b34d00;
}

/* kitisuru Menu */

.kitisuru-main{
    display:flex;
    justify-content: space-evenly;
}
.kitisuru-menu{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('Images/kitisuru.jpg');
    position: relative;
    justify-items: center;
    align-content:center;
    .logo{
        left:35%;
    }
    h2{
        color:white;
        font-size: 40px;
        font-weight: lighter;
    }
    h1{
        color:#f76c02; 
        font-size: 60px;
    }
    .navigation{
        margin:1%;
        width: 47%;
    }
}
.kitisuru-menu, .menus{
    width:100%;
    height: 100vh;
}
.menus{
    background-color: black;
    overflow-y:scroll;
    padding:0 2%;
    a{
        color:grey;
        font-weight: bolder;
    }
    color:white;
    h2{
        color:#f76c02;
    }
    h1,h2{
        padding: 3% 0;
    }
    a:hover, a:link:active{
        color:rgb(249, 219, 144);
    }
}   
.menu-list{
    margin-top: 6%;

}
.menu-nav{
    padding:1.5% 15%;
    position:fixed;
    top:0;
    left:50%;
    right:0;
    background-color: black;
}
table{
    width: 100%;
    margin: 1% 0 10% 0;
}
table img{
    width:100px;
}
.menu-logo{
    width:20%;
}
.menu-content{
    width:60%;
}
.menu-with-logo tr{
    height: 100px;
}
td:nth-last-child(1){
    text-align: end;
}
.menu-with-logo p{
    color: gray;
}

/* contact */
.contact{
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('Images/ankolegrill_Kitisuru\ Night2.webp');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display:flex;
    gap: 20px;
    a{
        padding: 0;
    }
    line-height: 1.2;
    h1{
        font-size: 38px;
    }
}
.kitisuru-contact,.kilimani-contact{
    border:rgb(245, 236, 141) solid 3px;
    padding: 2%;
    margin-top: 18%;
    width:25%;
    a,p{
        font-size: 25px;
    }
}
.kilimani-contact{
    height: 45%;
}
.kitisuru-contact{
    height:35%;
}
.paragraph{
    display: inline-flex;
}

/* reviews */
.review{
    background-color: black;
    color:white;
    justify-items: center;
    align-content: center;
    height: 100vh;
}
.kitisuru-review{
    width:50%;
    text-align: center;
    font-size: 20px;
    display:none;
    position:relative;
    a{
        display: block;
        font-size: large;
    }
    h1{
        margin: 10%;
    }
}
.fa-solid,h1{
    font-size: 50px;
}
.fa-quote-left, .fa-quote-right{
    color: #f76c02;
}
.fa-quote-left{
    margin-left: -90%;
}
.fa-quote-right{
    margin-right:-90%;
}
.review-text{
    padding: 3% 10%;
}
.review>a
{
    position:absolute;
    top:50%;
    transition: 0.6s ease;
    cursor:pointer;
    font-weight: lighter;
    color: grey;
    font-size: 30px;
}
.left-arrow{
    left:20%;
}
.right-arrow{
    right:20%;
}

/* events */
.container{
    display:flex;
    height:100vh;
    justify-content: space-evenly;
}
.event{
    height:100%;
    justify-items:center;
    align-content:center;
    width:35vw;
    /* overflow-x: hidden; */
    color:white;
    font-size: 20px;
    p:nth-child(1){
        color:grey;
        margin: 5%;
    }
    p:nth-child(4),p:nth-child(3){
        color: #e7b854;
    }
}
.accra{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/download.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nairobi{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/download1.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
.zanzibar{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/zanzibar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* .addis{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/addis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.decor{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/');
    background-repeat: no-repeat;
    background-size: cover;
}
.private-dining{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/private-dining.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

/* Reservation */
.reservations{
    display:flex;
    height:100vh;
    justify-content:space-evenly;
    justify-items: center;
    .logo{
        left:18%;
    }
}
.reserve{
    align-content: center;
    justify-items: center;
    width: 50%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Images/Tropical-Plants-And-Flowers-paint-by-numbers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        color:white;
        font-size: 35px;
    }
    h1{
        color:#f18029;
        font-size: 60px;
    }
}
.form{
    padding: 5%;
    background-color: black;
    width: 50%;
    a{
        padding: 0;
        color: black;
    }
}
input,select{
   width:100%;
   padding: 2%;
   margin:1% 0;
   background-color: rgb(34, 32, 32);
   color:white;
}
label,#time,#date{
    color:white;
}
#location{
    color:grey;
}
#submit{
    border-radius: 10px;
    background-color: bisque;
    border:none;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 0;
    width: 100%;
    padding:3%;
}

/* live */
.live{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('Images/live-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    img{
        width:360px;
        height:360px;
    }
    img:hover{
        transform: scale(1.1);
    }
    p{
        color:#f76c02;
    }
    .logo{
        left:30%;
    }
    
}
.tukatika{
    position: relative;
    justify-items: center;
    align-content: center;
    width:50%;
    .navigation{
       margin-left:5px;
       width: 48%;
    }
    >h1{
        color: #f76c02;
        font-size: 60px;
    }
    >h2{
        color:white;
    }
}
.live-main{
    display: flex;
    align-items: center;
    margin:2% 0 6% 0;
    gap:20px;
}
.live-artist{
    margin-left: 5%;
    h2{
        color:white;
    }
    height: 100vh;
    overflow-y: scroll;
}

/* live2 */
.first-live, .second-live, .third-live{
    color:white;
    img{
        width:100vw;
        position:relative;
    }
    h1{
        position:absolute;
        top:45%;
        left:35%;
        padding-right: 30%;
        text-align: center;
    }
}
.live-acoustic .navigation{
    position:absolute;
}